.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
__pycache__/
.ipynb_checkpoints/
.converae
.cache
.pytest_cache
.DS_Store
/model_ckpt
/.neptune
/run_frcnn_slurm.sh
/SLURM*
/yolo_atmp
/darknet_weights
/yolov3_org_weights
data_chkr
utils/variable.py
model_weights
run.sh